/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    border: 3px solid #202020;
    border-radius: 30px;
    width: 300px;
    background-color: #151414;
    padding: 20px;
}

.display {
    text-align: right;
    font-size: 2em;
    height: 70px;
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    font-size: 1.5em;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:active {
    background-color: #ddd;
}

.operator {
    background-color: #ee861e;
    color: white;
}

.operator:active {
    background-color: #ee86ee;
}

.equals {
    background-color: #3498db;
    color: white;
    grid-column: span 2;
}

.equals:active {
    background-color: #2980b9;
}

button:focus {
    outline: none;
}